* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Geneva", arial, helvetica;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
    margin-left: 0px;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
}

header h1 {
    display: inline;
    text-align: right;
    font-family: "Geneva", arial, helvetica;
    font-size: 80px;
    font-weight: 700px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 80px;
}



header img {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    display: inline;
    
}

nav {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    padding-bottom: 80px;
}

nav a {
    text-decoration: none;   
    padding-left: 20px;
    padding-right: 20px;
}

header a {
    color: #aaaaaa;
    margin-right: 10px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
}

header a:focus

#portfolio section p, ul {
    display: inline;
    text-align: right;
}

#portfolio section {
    margin: 0px 21px 0px 10px;
}

#portfolio article {
    text-align: center;
    margin-bottom: 20px;
}

#portfolio h2 {
    text-align: right;   
}

article {
    float: right;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 4px;
}

form {
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

#contact form {
    text-align: center;
}

footer {
    clear: right;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 600px) {

    header h1 {
        line-height: 70px;
        text-align: center;
    }
    
    header img {
        width: 30%;
        height: auto;
    }
    
    nav {
        width: 90%;
    }
    
    #content {
        width: 90%;
        clear: left;
    }
    
    
    
    
}